@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #121417;
  margin: 0;
  padding: 0;
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
}

a, li, h1, h2, p {
  text-decoration: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.test-container {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  background-color: rgba(37, 45, 55, 0.5);
  border-radius: 30px;
  width: 25.6rem;
  height: 25.6rem;
  max-width: 100%;
  padding: 2rem;
}

.card .card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}

.card .card__container .card__icon-container .card__icon {
  background-color: #252d37;
  border-radius: 50%;
  padding: 1rem;
}

.card .card__container .card__h1 {
  color: white;
  font-weight: 700;
}

.card .card__container .card__p {
  color: #959eac;
  font-weight: 400;
}

.card .card__container--submited {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card__container--submited .card__design-container {
  margin-bottom: 2rem;
}

.card .card__container--submited .card__h1 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.card .card__container--submited .card__p {
  text-align: center;
  font-size: .95rem;
}

.card .card__container--submited .card__p-container {
  background-color: #252d37;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2rem;
  padding: .45rem 1.2rem;
  margin-bottom: 2rem;
}

.card .card__container--submited .card__p-container .card__p--var {
  color: #fb7413;
  margin-top: .1rem;
}

.card--hide {
  display: none !important;
}

.my-radio-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.my-radio-btn .my-radio-btn__option {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  background-color: #252d37;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 3.07rem;
  height: 3.07rem;
}

.my-radio-btn .my-radio-btn__option .my-radio-btn__option__p {
  pointer-events: none;
  color: #959eac;
  line-height: 0;
  font-weight: 700;
  margin-top: .15rem;
}

.my-radio-btn .my-radio-btn__option:active {
  background-color: #fb7413;
}

.my-radio-btn .my-radio-btn__option--selected {
  background-color: #7c8798;
}

.my-radio-btn .my-radio-btn__option--selected .my-radio-btn__option__p {
  color: white;
}

.btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  background-color: #fb7413;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.75rem;
  padding: .7rem;
}

.btn .btn__p {
  pointer-events: none;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .1rem;
}

.btn:active {
  background-color: white;
}

.btn:active .btn__p {
  color: #fb7413;
}

@media screen and (max-width: 450px) {
  .test-container {
    padding: 1.25rem;
  }
}
/*# sourceMappingURL=main.css.map */